<h2>Welcome to Motivator.com, <%= @user.username %></h2>
<p>
  You have successfully signed up to Motivator.com.
  Your username is: <%= @user.username %>.<br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining Motivator, and good luck achieving your goals!</p>
