  <% @user.tended_goals.each do |goal| %>
    <% if goal.notification == true %>
      <p><%= link_to "#{goal.setter.username} is requesting you to be their goaltender on their new goal #{goal.title}", edit_goal_path(id: goal.id)%></p>
    <% end %>
  <% end %>

  <% @user.set_goals.each do |goal| %>
    <% if goal.accepted == false && goal.notification == false %>
      <p><%= link_to "Your selected goaltender is unable to assist you with this #{goal.title}, please select a new one", edit_goal_path(id: goal.id, notification: true) %></p>
    <% end %>
  <% end %>