<h2>Edit Your Goal</h2>

<% if current_user == @goal.setter %>
  <%= render partial: "goal_form" %>
<% elsif current_user == @goal.tender %>
  <%= render partial: 'goal', locals: {goal: @goal} %>
<% end %>

<%if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>
