<% if current_user == @goal.setter %>
  <h2>Edit Your Goal</h2>
  <%= render partial: "goal_form" %>
<% elsif current_user == @goal.tender %>
  <h2>Confirm Goaltender Request</h2>
  <%= render partial: 'goal', locals: {goal: @goal} %>
<% end %>

<%if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>
