.attribute-label {
  text-align: center;
  font-weight: bold;
}

/*main {
  overflow-y: scroll;
}*/

.message {
  font-size: 1rem;

}

.gbox {
  padding: 0.5rem;
  text-align: center;
  background-color: #69D2E7;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.cbox {
  padding: 0.5rem;
  text-align: center;
  background-color: #69D2E7;
  border-radius: 0.5rem;
}

.mbox {
  padding: 0.5rem;
  text-align: center;
  background-color: #E0E4CC;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

#attribute {
  font-size: 1.25rem;
}

.option-links {
  display:inline-block;
  font-size: 1rem;
}

#options {
  text-align: center;
}

.titles {
  text-align: center
}

#topline {
  border-top: solid 5px black;
}

#charity {
  font-size: 1rem;
}
.support-button input {
  margin: 0 auto;
}

.currencyinput {
    border: 1px inset #ccc;
}
.currencyinput input {
    border: 0;
}

select {
  display: block;
  right:0;
  margin-bottom: 0.5rem;
}

main {
  float: left;
  width: 666px;
  border-radius: 0.5rem;
  background-color: #eee;
}

.bottom-line {
  border-bottom: dashed 1px black;
  margin-bottom: 1rem;
}


.styled meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 85%;
  height: 30px;
  margin-bottom:10px;

  /* For Firefox */
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

/* WebKit */
.styled meter::-webkit-meter-bar {
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

.styled meter::-webkit-meter-optimum-value,
.styled meter::-webkit-meter-suboptimum-value,
.styled meter::-webkit-meter-even-less-good-value {
  border-radius: 3px;
}

.styled meter::-webkit-meter-optimum-value {
  background: #86CC00;
}

.styled meter::-webkit-meter-suboptimum-value {
  background: #FFDB1A;
}

.styled meter::-webkit-meter-even-less-good-value  {
  background: #CC4600;
}


