/* This file specifically styles the sidebar nav and feed boxes */

aside {
  float: right;
  width: 32%;
  color: #222;
  margin-top: 10px;
}

aside nav {
  margin-bottom: 0.75rem;
  background-color: #eee;
  border-radius: 10px;
  border: 1px solid #bbb;
}

aside ul {
  list-style: none;
  padding-left: 8%;
}

aside ul a {
  text-decoration: none;
  color:#E71D36;
}

aside h4 {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #222;
}

aside div.side--news {
  width: 100%;
  height: 500px;
  border-radius: 0.5rem;
  background-color: #011627;
  border: 1px solid #bbb;
  margin-bottom: 5%;
}

aside div.side--feed {
  height: 446px;
  overflow-y: scroll;
  background-color: #fff;
  line-height: 1.0;
  border: 1px solid #bbb;
  padding: 0 0.25rem;
}

.side--news h4 {
  color: #FDFFFC;
  margin:auto;
  padding-left: 15px;
  padding-top: 10px;
}

.msg {
  font-size: 0.75rem;
  padding: 0.25rem;
  line-height: 1.2;
  border-bottom: 1px solid #ddd;
}

.msg p {
  margin: 0;
  padding: 0;
}

.msg-head {
  color: #888;
}

.msg-content {
}

.search-form {
  text-align: center;
}

.search-input {
  width: 55%;
  margin: 5px;
}

.search-button {
  width: 25%;
  margin: 5px;
}
