<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <h1 style="color:#000033;font-family:Impact;text-align:center;">Motivator</h1>
  <h3 style="color:#000033;text-align:center;">Helping you help yourself while you help others</h3>
  <hr style="color:#000033;">

  <%= yield %>

  <hr style="color:#000033;">
</body>
</html>