<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <h1>Motivator</h1>
  <p>Helping you help yourself while you help others</p>
  <hr>

  <%= yield %>

  <hr>
</body>
</html>